<!DOCTYPE html>
<html lang="en">
 
  <body>
    <%- include('partials/navbar.ejs') %>
    <br /><br /><br /><br /><br />
    <% if(error.length){%>
      <div class="alert-error"><%=error%></div>
      <%}%>
      <% if(success.length){%>
        <div class="alert-success"><%=success%></div>
        <%}%>
    <form class="form2" method="POST" action="/update">
      <div class="form-group">
        <label >Hospital Name: <label name="name"><%=name%></label></label>
      </div>
      <div class="form-group">
        <label >Registration ID: <label name="code"><%=code%></label></label>
      </div>
      <div class="form-group">
        <label >Total Beds: <label name="total"><%=total%></label></label>
      </div>
      <div class="form-group">
          <label >Available Beds: <label name="avail"><%=avail%></label></label>
      </div>
      <div class="form-group">
          <label >Total Beds:</label>
          <input
          class="form-control"
          name="new_total"
          aria-describedby="emailHelp"
        />
          <label >Available Beds:</label>
          <input
          class="form-control"
          name="new_ava"
          aria-describedby="emailHelp"
        />
        
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br />
    <%- include('partials/footer.ejs')%>
  </body>


  <style>
    .form2 {
      margin: 0 auto;
      padding: 10px;
      width: 50%;
    }
    .alert-error {
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      background: rgba(216, 157, 177, 0.884);
      color: red;
      border-radius: 10px;
      padding: 5px;
    }
    .alert-success {
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      background: rgba(107, 202, 112, 0.884);
      color:green;
      border-radius: 10px;
      padding: 5px;
    }
  </style>
</html>
