<html>
  <body>
    <%- include('partials/navbar.ejs') %><br /><br />
    <%- include('partials/maps.ejs')%> <% if(result.length){for(i=0;i <
    result.length ; i++){ var a = result[i].Latitude; var b =
    result[i].Longitude; var c = result[i].Name; var totbed =
    result[i].Total_Beds; var avbed = result[i].Avaiable_Beds; %>
    <script src="js/dispnearby.js"></script>
    <script>
      getLocation();
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("no gps");
        }
      }

      function showPosition(position) {
        var d = dist(
          position.coords.latitude,
          "<%=a%>",
          position.coords.longitude,
          "<%=b%>"
        );

        display("<%=a%>", "<%=b%>", "<%=c%>", d);
        card("<%=c%>", "unknown", "<%=totbed%>", "<%=avbed%>");
        return;
      }
    </script>

    <div id="new1">
      <div id="new" class="row"></div>
    </div>

    <%}}else{%>
    <div style="text-align: center; padding: 20px; height: 30%;">
      <h1>No result</h1>
    </div>

    <%}%> <%- include('partials/footer.ejs')%>
  </body>

  <style>
    #new1 {
      width: 100%;
      background: whitesmoke;
      padding: 10px;
    }

    .col-sm-6 {
      padding-bottom: 10px;
    }
  </style>
</html>
